V8_VERSION=8.3.23.2040
V8_CONVERT_TOOL=designer
V8_EDT_VERSION=2023.3.6
V8_ENCODING=65001
IBCMD_DATA=
V8_DB_SRV_DBMS=MSSQLServer
V8_DB_SRV_ADDR=localhost
V8_DB_SRV_USR=_1CSrvUsr1
V8_DB_SRV_PWD=
V8_SRV_ADDR=localhost
V8_SRV_AGENT_PORT=11540
V8_SRV_REG_PORT=11541
V8_SRV_PORT_RANGE=11560:11591
V8_RAS_PORT=11545
V8_IB_NAME=V8_CONV_TEMP_IB
V8_IB_USER=Administrator
V8_IB_PWD=
V8_CONF_CLEAN_DST=1
V8_EXT_CLEAN_DST=1
V8_DP_CLEAN_DST=0
