V8_VERSION=8.3.20.2290
V8_CONVERT_TOOL=designer
V8_EDT_VERSION=2023.1.4
V8_DB_SRV_DBMS=MSSQLServer
V8_DB_SRV_ADDR=localhost
V8_DB_SRV_USR=_1CSrvUsr1
V8_DB_SRV_PWD=
V8_SRV_ADDR=localhost
V8_SRV_AGENT_PORT=1540
V8_RAS_PORT=11545
V8_IB_NAME=V8_CONV_TEMP_IB
V8_IB_USER=Administrator
V8_IB_PWD=
